form {
  display: flex;
  justify-content: center;
}

label {
  margin: 0.4rem 0.5rem;
  padding-top: 0.5rem;
}

button {
  border: none;
  border-radius: 0.4rem;
  background-color: #204060;
  color: darkgray;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
}

button:active {
  background-color: #406080;
}
